@{
    ViewData["Title"] = "Index";
}

<body class="container-login">
    <div class='flex-column'>
        <div class="flex heading-div">
            <img src="~/images/workos-logo-with-text.png" alt="workos logo">
        </div>

        <h2>Node.js SSO Example App</h2>
        <a class="button login_button" href="/login">Login</a>
    </div>
</body>