@{
    ViewData["Title"] = "Index";
}

<body class="container_login">
    <div class='flex_column'>
        <div class="flex heading_div">
            <div class="heading_text_div">
                <h1>WorkOS</h1>
            </div>
        </div>

        <h2>DotNet SSO Example App</h2>
        <a class="button login_button" href="/auth">Login</a>
    </div>
</body>