@{
    ViewData["Title"] = "Home Page";
}

<body class="container-login">
    <div class='flex-column'>
        <div class="flex heading-div">
            <img src="~/images/workos-logo-with-text.png" alt="workos logo">
        </div>
        <h2>.NET Admin Portal Example App</h2>
        @using (Html.BeginForm("Provision", "Home", FormMethod.Post)){
            <div class='flex-column'>
                <div>
                    <input type="text" placeholder='Enter Your Organization Name to Provision' id="org" name="org" class="text-input" required>
                </div>
                <div>
                    <input type="text" placeholder='Enter a Space Separated List of Domains Used By the Org' id="domain" name="domain" class="text-input text-input-2" required>
                </div>
                <div>
                    <button type="submit" class="button">Create Organization and Log In</button>
                </div>
            </div>
        }
    </div>
</body>