@{
    ViewData["Title"] = "Challenge Success";
}

<body class="container-success">
    <div class="logged-in-nav">
        <div class='flex-column'>
            <img src="~/images/workos-logo-with-text.png" alt="workos logo">
        </div>
    </div>
    <div class='flex'>
        <div class="logged-in-div-left">
            <div class="title-text">
                <h1>Your app,</h1>
                <h2 class="home-hero-gradient">Enterprise Ready</h2>
            </div>
            <div class="title-subtext">
                <p>Start selling to enterprise customers with just a few lines of code.</p>
                <p>Implement features like single sign-on in minutes instead of months.</p>
            </div>
            <div class="flex success-buttons">
                <a href="https://workos.com/signup" target="_blank"><button class='button'>Get Started</button></a>
                <a href="mailto:sales@workos.com?subject=WorkOS Sales Inquiry" target="_blank"><button
                        class='button button-outline sales-button'>Contact
                        Sales</button></a>
            </div>
        </div>
        <div class="logged-in-div-right">
            <div class="flex-column">
                <div class="flex-column">
                    <div class="card">
                        <h1>User Verified: @ViewBag.successFactor.Valid</h1>
                        <p>Factor ID: @ViewBag.successFactor.Challenge.FactorId</p>
                        <p>Created At: @ViewBag.successFactor.Challenge.CreatedAt</p>
                        <p>Expires At: @ViewBag.successFactor.Challenge.ExpiresAt</p>
                    </div>
                </div>
                <a href="/"><button class='button'>Go Back Home</button></a>
            </div>

        </div>
    </div>
</body>
