@{
    ViewData["Title"] = "Index";
}

<body class="container-success">
    <div class="logged-in-nav">
        <div class='flex-column'>
            <img src="~/images/workos-logo-with-text.png" alt="workos logo">
        </div>
    </div>
    <div class='flex'>
        <div class="logged-in-div-left">
            <div class="title-text">
                <h1>Your app,</h1>
                <h2 class="home-hero-gradient">Enterprise Ready</h2>
            </div>
            <div class="title-subtext">
                <p>Start selling to enterprise customers with just a few lines of code.</p>
                <p>Implement features like single sign-on in minutes instead of months.</p>
            </div>
            <div class="flex success-buttons">
                <a href="https://workos.com/signup" target="_blank"><button class='button'>Get Started</button></a>
                <a href="mailto:sales@workos.com?subject=WorkOS Sales Inquiry" target="_blank"><button
                        class='button button-outline sales-button'>Contact
                        Sales</button></a>
            </div>
        </div>

        <div class="logged-in-div-right">
            <div class="flex-column">
                <div class="flex">
                    <div class="factor-card flex-column space-evenly">
                        <h2>Enroll SMS Factor</h2>
                        @using (Html.BeginForm("EnrollSmsFactor", "Home", FormMethod.Post))
                        {
                            <div>
                                <div class="flex">
                                    <input class="text-input" type="text" id="phone_number" name="phone_number"
                                    placeholder="Phone Number" required>
                                </div>
                                <div class="flex">
                                    <button type="submit" name="type" value="sms"
                                    class="button button-outline button-sm">Enroll New SMS Factor
                                    </button>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="factor-card flex-column space-evenly">
                        <h2>Enroll TOTP Factor</h2>
                        @using (Html.BeginForm("EnrollTotpFactor", "Home", FormMethod.Post))
                        {
                            <div class="flex-column">
                                <div class="flex">
                                    <input class="text-input" type="text" id="totp_issuer" name="totp_issuer"
                                    placeholder="TOTP Issuer" required>
                                </div>
                                <div class="flex">
                                    <input class="text-input" type="text" id="totp_user" name="totp_user"
                                    placeholder="User Email" required>
                                </div>
                            </div>
                            <div class="flex">
                                <button type="submit" name="type" value="totp"
                                class="button button-outline button-sm">Enroll
                                    New TOTP Factor</button>
                            </div>
                        }
                    </div>

                </div>


                <h2>MFA Factors List</h2>
                @if (ViewBag.factors != null)
                {
                    @foreach (var factor in ViewBag.factors)
                    {
                        <a href='@string.Format("/factor_detail/{0}", factor.Id)' class="button login_button">
                            @factor.Type | @factor.Id
                        </a>
                    }
                }
            </div>
        </div>
    </div>
</body>
