@{
    ViewData["Title"] = "Groups";
}

<table style="margin-left: auto; margin-right: auto">
    <tr>
        <td style="width: 300px; vertical-align:top">
            <h3>DIRECTORY GROUPS</h3>
            <ul>
                @foreach (var group in @ViewBag.Groups)
                {
                    <li>
                        Group Name: @group.Name <br />
                        Group ID: @group.Id <br />
                    </li>
                }
            </ul>
        </td>
    </tr>
</table>

<form style="text-align: center">
    <input type="button" value="Go Back" onclick="history.back()">
</form>