@{
    ViewData["Title"] = "Home Page";
}

<body class="container-login">
    <div class='flex-column'>
        <div class="flex heading-div">
            <img src="~/images/workos-logo-with-text.png" alt="workos logo">
        </div>

        <h2>.NET Directory Sync Example App</h2>
        <hr style="width:100%">
        <a href="/webhook" class="button width-95 button-outline">Test Webhooks</a>
        <hr style="width:100%">
        @if (ViewBag.Directories != null) {
            @foreach (var directory in ViewBag.Directories)
            {
                <a href='@string.Format("/directory/{0}", directory.Id)' class="button login-button">
                @directory.Name | @directory.Id
                </a>
            }
        }

    </div>
</body>