@{
    ViewData["Title"] = "Users";
}

<body class="container-success">
    <div class="logged-in-nav">
        <div class="flex">
            <div>
                <img src="~/images/workos-logo-with-text.png" alt="workos logo">
            </div>
        </div>
        <div>
            <a href="https://workos.com/docs" target="_blank"><button class='button nav-item'>Documentation</button></a>
            <a href="https://workos.com/docs/reference" target="_blank"><button class='button nav-item'>API
                    Reference</button></a>
            <a href="https://workos.com/blog" target="_blank"><button
                    class='button nav-item blog-nav-button'>Blog</button></a>
            <a href="https://workos.com/" target="_blank"><button class='button button-outline'>WorkOS</button></a>
        </div>
    </div>
    <div class='flex'>
        <div class="logged-in-div-left">
            <div class="title-text">
                <h1>Your app,</h1>
                <h2 class="home-hero-gradient">Enterprise Ready</h2>
            </div>
            <div class="title-subtext">
                <p>Start selling to enterprise customers with just a few lines of code.</p>
                <p>Implement features like single sign-on in minutes instead of months.</p>
            </div>
            <div class="flex success-buttons">
                <a href="https://workos.com/signup" target="_blank"><button class='button'>Get Started</button></a>
                <a href="mailto:sales@workos.com?subject=WorkOS Sales Inquiry" target="_blank"><button
                        class='button button-outline sales-button'>Contact
                        Sales</button></a>
            </div>
        </div>
        <div class="logged-in-div-right">
            <div class="flex-column">
                <h2>Raw Users Object Details</h2>

                @if (ViewBag.Users != null)
                {
                    <div class="text-box">
                        <ul>
                            @foreach (var user in ViewData["userList"] as List<User>)
                            {
                                <li>
                                    ID: @user.Id <br />
                                    Username: @user.Username <br />
                                    First Name: @user.FirstName <br />
                                    LastName: @user.Id <br />
                                </li>
                            }
                        </ul>
                    </div>
                }
                else
                {
                    <div class="card width-40vw"><code>No Users Found</code></div>
                }
                <form style="text-align: center">
                    <input class="button button-sm button-outline" type="button" value="Go Back"
                        onclick="history.back()">
                </form>
            </div>

        </div>
    </div>
</body>