@{
    ViewData["Title"] = "Home Page";
}

<body class="container-login">
    <div class="logged-in-nav">
        <div class='flex-column'>
            <img src="~/images/workos-logo-with-text.png" alt="workos logo">
        </div>
    </div>

    @using (Html.BeginForm("passwordless", "home"))
    {
    <form method="post" >
        <fieldset>
            <h2>Magic Link Example App</h2>
            <div class='flex-column'>
                <div>
                    <label for="email">Email Address:</label>
                    <input type="text" name="email" value="" />
                </div>
                <div>
                    <label>&nbsp;</label>
                    <input type="submit" value="Submit" class="submit" />
                </div>
            </div>
        </fieldset>
    </form>
    }

</body>