<div>
    <p>You're logged in, welcome!</p>
</div>
<div>
     <div>
        <div>
            <h1>Your app,</h1>
            <h2>Enterprise Ready</h2>
        </div>
        <div>
            <a href="https://workos.com/" target="_blank"><button class='button'>WorkOS</button></a>
            <a href="https://workos.com/docs" target="_blank"><button class='button'>Documentation</button></a>
            <a href="https://workos.com/docs/reference" target="_blank"><button class='button'>API Reference</button></a>
            <a href="https://workos.com/blog" target="_blank"><button class='button'>Blog</button></a>
                    
        </div>
    </div>
    <div>
        <div>
            <h2>Raw Profile Response Details</h2>
            <div>
                <p>@ViewBag.Profile</p>
            </div>
        </div>

    </div>
</div>