body {
  font-family: Inter, sans-serif;
}

h2,
h1 {
  text-align: center;
  color: #555;
}

h3 {
  color: white;
}

.container-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 30%;
  height: 90vh;
}

.container-login img {
  height: 150px;
}

.container-login h1 {
  font-size: 65px;
  color: #111;
  position: relative;
  bottom: 10px;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.space-evenly {
  justify-content: space-evenly;
  align-items: center;
}

.width-25vw {
  width: 25vw;
}

.margin-b-45 {
  margin-bottom: 45px;
}

.container-success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.heading-div {
  margin: 25px 0;
}

.heading-text-div {
  align-self: center;
}

.heading-text-div-err {
  align-self: center;
  width: 22vw;
}

.button {
  background-color: #6363f1;
  border: 2px solid #6363f1;
  border-radius: 26px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-outline {
  background-color: white;
  color: rgb(46 46 46);
}

.button-sm {
  padding: 8px 16px;
  margin-top: 14px;
}

.button:hover {
  background-color: #555;
  border: 2px solid #555;
  color: white;
}

.login-button {
  width: 95%;
}

.logged-in-div-right {
  width: 60%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 10%;
}

.logged-in-div-left {
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dad8d8;
}

.logged-in-div-left div {
  justify-content: left;
  position: relative;
  bottom: 20%;
}

.logged-in-div-left h1 {
  color: #111;
  font-size: 75px;
  text-align: left;
  margin-bottom: 0;
  font-weight: normal;
  letter-spacing: -0.05em;
}

.logged-in-div-left h2 {
  color: #6363f1;
  font-size: 75px;
  text-align: left;
  margin-top: 0;
  font-weight: normal;
  letter-spacing: -0.05em;
}

.logged-in-div-left button {
  padding: 8px 22px;
}

div.text-box {
  background-color: #dad8d8;
  border-radius: 5px;
  border: 2px solid #6363f1;
  width: 45vw;
  padding: 10px;
  word-wrap: break-word;
}

.logged-in-nav {
  display: flex;
  justify-content: space-between;
  background-color: #6363f1;
  height: 60px;
  padding: 7px 7px 7px 10px;
}

.logged-in-nav p {
  padding: 4px 0 0 15px;
  line-height: 1;
  color: white;
}

.logged-in-nav img {
  height: 50px;
  border-radius: 50%;
  border: 2px solid #2f2e2e;
}

.logged-in-nav img:hover {
  border: 2px solid #555;
}

.text-input {
  border: 1px solid #555;
  border-radius: 10px;
  margin: 20px 0 7px;
  padding: 5px;
  height: 35px;
  width: 375px;
  text-align: center;
}

.qr-div {
  align-self: center;
  margin-top: 45px;
}

.qr-code {
  width: 7vw;
  max-width: 100px;
}

.factor-card {
  border: 1px solid #555;
  border-radius: 10px;
  width: 20vw;
  margin: 0 15px;
  padding: 25px;
}

.card {
  border: 1px solid #555;
  border-radius: 10px;
  margin: 0 15px;
  padding: 25px 50px;
  margin-bottom: 20px;
}
